html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background: #070a1b;
  font-weight: 400;
  line-height: 120%;
  font-size: 16px;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

button{
  background-color: transparent;
  border:none;
  padding: 0;
  cursor: pointer;
}
ul{
  list-style: none;
}

.contener {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.list{
  display: flex;
}

.list_iten + .list_iten{
  margin-left: 30px;
}

.list_link{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background .3s;
}

.list_link:hover{
  background-color: #C1A1D2;
}

.header_content{
  background-image: url(../images/header.png);
  min-height: calc(100vh - 100px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}




